<footer class="footer text-muted bg-light">
  <div class="container">
    <span>© <%= Date.today.year %> Spark</span>
    <ul class="list-inline mb-0 float-right">
      <li class="list-inline-item mr-3"><%= link_to "Términos", terms_path %></li>
      <li class="list-inline-item mr-3"><%= link_to "Privacidad", privacy_path %></li>
    </ul>
  </div>
</footer>
