<title><%= Rails.configuration.application_name %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'https://js.stripe.com/v3/', 'https://www.gstatic.com/firebasejs/5.0.4/firebase.js', 'data-turbolinks-track': 'reload' %>
